
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.titulo1{
    padding-inline-start: 70%;
    font-size: 200%;
    padding-block-end: 10%;
    padding-block-start: 5%;
}
p{
     
    font-size: 30px;
    font-family: 'Trebuchet MS' ;
    margin: 15%;
}
span{
    font-family: 'Times New Roman', Times, serif;
    color: palevioletred;

}
.nombres{
    color: white;
}
.navbar-nav{
    padding-left: 25%;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.bg-dark {
    --bs-bg-opacity: 1;
    background-color: burlywood !important;
}
.jumbotron{
    background-image: url(/img/negro.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    text-align-last: center;
}
.text{
    margin-block-end: 25%;
    margin-right: auto;
    margin-left: 50%;
}

.segundo{
    color: transparent;
}

nav ul li{
    display: inline;
    margin: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}
nav a{
color: black;
text-decoration: none;
}

.footer {
    width: 100%;
    height: 200px;
    display: grid;
}


.box__footer {
    display: flex;
    flex-direction: column;
    padding: 200px;
    background-image: linear-gradient(to right,burlywood 60%, pink)
}

.main{

    padding: 3%;
    width: 70%;

}


.titulo{
    padding: 5%;
    display: grid;
    text-align: center;
    font-size: 200%;
}

.contenedor{

        display: grid;
        grid-template-areas: 
        "item1 item2 item3";

        grid-template-columns: 400px 400px 400px;
    
        grid-template-rows: 400px 400px 400px;
    
        grid-gap: 40px;

        height: 500px;
        width: 100%;
    }
    .item{

        height: 400px;
        width: 400px;
    }
    .item1{

        grid-area: item1;
        background-image: url(img/img1.png);
        background-size: cover;
        background-position: center;
        grid-column: 1/2;

     
    }
    .item2{
        grid-area: item2;
        background-image: url(img/5.jpg);
        background-size: cover;
        background-position: center;
        grid-column: 2/3;
     
    }
    .item3{
        grid-area: item3;
        background-image: url(img/tiramisu.jpg);
        background-size: cover;
        background-position: center;
        grid-column: 3/4;
     
    }
    .textos{
        display: grid;
        font-size: 20px;
        display: inline-block;
        width: 10%;
        padding: 5px 5px 5px 5px;
        color: 5px;
        margin: 18px;
        border: none; 
        width: 100%;
        height: 80px;
    }
    .muffins{
        text-align: center;
        text-decoration: none;
        font-size: 120%;
    }
    .muffins a{
        text-decoration: none;
        color: black;
    }
    .chess{
        text-align: center;
        font-size: 120%;
    }
    .tiramisu{
        text-align: center;
        font-size: 120%;
    }
    .t1{
        margin-block-end: 15px;
        font-size: 150%;
    }
    .contenedor2{

        display: grid;
        grid-template-areas: 
        "item4 item5";
        background-color: none;
    
        grid-template-rows: 400px 50px;
    
        grid-gap: 60px;
    
        padding: 20px;
        height: 600px;
    }
    .item{
        border: 0px solid white;
    }
    .item4{

        grid-area: item4;
        background-color: violet;
        background-image: url(img/img1.png);
        background-size: cover;
        background-position: center;
        
    }
    .item5{
        grid-area: item5;
        background-color: tomato;
        background-image: url(img/img2.jpg);
        background-size: cover;
        background-position: center;
    }
.cuestionario{
    padding-top: 5;
    padding: auto;
    display: inline;
    height: 300px;
    width: 300px;
    display:flex;
    margin: 0 auto; 
    width:250px;
    align-content: center;


}
fieldset {
    min-width: 5%;
    padding: 5%;
    position: static;
    align-content: center;
}


.tabla{
    float: right;
    padding: 10px;
}
.preparacion{
    font-size: 25px;
    padding-left: 30px;
}
.lorem{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    inline-size: 50%
}

  @media only screen and (min-width: 0px) and (max-width: 667px){



    .contenedor{

        display: block;
        grid-template-areas: 
        "item1"
        "item2" 
        "item3";
        
        grid-template-columns: 0% 0% 0%;
    
        grid-template-rows: 500px 500px 500px;


        height: 1500px;
        width: 100%;
        margin: 20%;
    }
    .item1{

        grid-area: item1;
        background-image: url(img/img1.png);
        grid-column: 1/2;
        grid-row: 1/2;
        
     
    }
    .item2{
        grid-area: item2;
        background-image: url(img/5.jpg);
        grid-column: 2/3;
        grid-row: 2/3;
     
    }
    .item3{
        grid-area: item3;
        background-image: url(img/tiramisu.jpg);        grid-column: 3/3;
        grid-row: 3/3;
     
    }
    
    .muffins{
        margin-left: 30%;
        margin-block-end: 10%;
        margin-block-start: 10%;
        text-decoration: none;
        font-size: 120%;
    }
    .muffins a{
        text-decoration: none;
        color: black;
    }
    .chess{
        margin-left: 30%;
        margin-block-end: 10%;
        margin-block-start: 10%;
        font-size: 120%;
    }
    .tiramisu{
        margin-left: 30%;
        margin-block-end: 10%;
        margin-block-start: 10%;
        font-size: 120%;
    }
    .t1{
        margin-block-end: 15px;
        font-size: 150%;
    }
    .titulo{
        text-align: right;
        margin-top: 20px;
        margin-block-end: 20px;
    }
    .contenedor2{

        display: grid;
        grid-template-areas: 
        "item4" "item5";
        background-color: none;
    
        grid-template-rows: 400px 50px;
    
        grid-gap: 60px;
    
        padding: 20px;
        height: 600px;
    }
    .item4{

        grid-area: item4;
        background-color: violet;
        background-image: url(img/img1.png);
        background-size: cover;
        background-position: center;
        
    }
    .item5{
        grid-area: item5;
        background-color: tomato;
        background-image: url(img/img2.jpg);
        background-size: cover;
        background-position: center;
    }
    .titulo{
        text-align: center;
    }
    .encontra{
        font-size: 20px;
        margin-block-end: 150px;
    }
    .box__footer {
        margin-block-start: 100%;
    }
    .chess{
        color: transparent;
    }
    .tiramisu{
        color: transparent;
    }
    

}

@media only screen and (min-width: 667px) and (max-width: 800px){

    .contenedor{

        display: block;
        grid-template-areas: 
        "item1"
        "item2" 
        "item3";
        
        grid-template-columns: 0% 0% 0%;
    
        grid-template-rows: 500px 500px 500px;


        height: 1500px;
        width: 100%;
        margin: 20%;
    }
    .item1{

        grid-area: item1;
        background-image: url(img/img1.png);
        background-position: right;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 10%;

     
    }
    .item2{
        grid-area: item2;
        background-image: url(img/5.jpg);
        background-position: center;
        grid-column: 2/3;
        grid-row: 2/3;
        margin-left: 10%;
     
    }
    .item3{
        grid-area: item3;
        background-image: url(img/tiramisu.jpg);
        background-position: center;
        grid-column: 3/3;
        grid-row: 3/3;
        margin-left: 10%;

     
    }
    
    .muffins{

        margin-block-end: 10%;
        margin-block-start: 10%;
        text-decoration: none;
        font-size: 120%;
    }
    .muffins a{
        text-decoration: none;
        color: black;
    }
    .chess{
        color: transparent;
    }
    .tiramisu{
        color: transparent;
    }
    .t1{
        margin-block-end: 15px;
        font-size: 150%;
    }
    .contenedor2{

        display: grid;
        grid-template-areas: 
        "item4" 
        "item5";
        background-color: none;
    
        grid-template-rows: 400px 50px;
    
        grid-gap: 60px;
    
        padding: 20px;
        height: 600px;
    }
    .item4{

        grid-area: item4;
        background-color: violet;
        background-image: url(img/img1.png);
        background-size: cover;
        background-position: center;
        
    }
    .item5{
        grid-area: item5;
        background-color: tomato;
        background-image: url(img/img2.jpg);
        background-size: cover;
        background-position: center;
    }
    .titulo{
        text-align: center;
    }
    .chess{
        color: transparent;
    }
    .tiramisu{
        color: transparent;
    }
    .box__footer {
        margin-block-start: 100%;

}
@media (min-width: 800px) and (max-width: 1200px){

    .contenedor{

        display: block;
        grid-template-areas: 
        "item1"
        "item2" 
        "item3";
        
        grid-template-columns: 0% 0% 0%;
    
        grid-template-rows: 500px 500px 500px;


        height: 1500px;
        width: 100%;
        margin: 20%;
    }
    .item1{

        grid-area: item1;
        background-image: url(img/img1.png);
        background-position: right;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 10%;

     
    }
    .item2{
        grid-area: item2;
        background-image: url(img/5.jpg);
        background-position: center;
        grid-column: 2/3;
        grid-row: 2/3;
        margin-left: 10%;
     
    }
    .item3{
        grid-area: item3;
        background-image: url(img/tiramisu.jpg);
        background-position: center;
        grid-column: 3/3;
        grid-row: 3/3;
        margin-left: 10%;

     
    }
    
    .muffins{
        margin-block-end: 10%;
        margin-block-start: 10%;
        text-decoration: none;
        font-size: 120%;
    }
    .muffins a{
        text-decoration: none;
        color: black;
    }
    .chess{
        margin-left: 10%;
        margin-block-end: 10%;
        margin-block-start: 10%;
        font-size: 120%;
    }
    .tiramisu{
        margin-left: 10%;
        margin-block-end: 10%;
        margin-block-start: 10%;
        font-size: 120%;
    }
    .t1{
        margin-block-end: 15px;
        font-size: 150%;
    }
    .contenedor2{

        display: grid;
        grid-template-areas: 
        "item4" 
        "item5";
        background-color: none;
    
    }
    .item4{

        grid-area: item4;
        background-color: violet;
        background-image: url(img/img1.png);
        background-size: cover;
        background-position: center;
        
    }
    .item5{
        grid-area: item5;
        background-color: tomato;
        background-image: url(img/img2.jpg);
        background-size: cover;
        background-position: center;
    }

    .chess{
        margin-right: 30%;
        margin-block-start: 1%;
    }
    .tiramisu{
        margin-right: 30%;
        margin-block-start: 1%;
    }
    .box__footer {
        margin-block-start: 100%;
    }
}
